extends layout-default.pug
block title
  title= 'Gif动图表情包制作'
block script
  script(src='/js/libgif.js')
  script(src='/js/gifshot.min.js')
  
block content
  p= message
  div
    img(src=demoURL id='show' class="responsive-img")
  div
    p= '尽情发挥你的才华，编写一个独一无二的段子，为这张动图注入灵魂'
  div(id='input-dialog')
    - for (let p of placeholderFE)
      input(type='text' placeholder=p)
  div(id='control')
    p
      a(class='btn' onclick='make()') 注入灵魂 (/≧▽≦)/
    p(id='complete' style='display: none;')
  div(style='display: none;' id='hiddenDiv')
    img(src=originURL id='origin-gif' keyword=keywordToFE)
  script(src='/js/makegif.js')